@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color: #1d2631;
    color: white;
}
/*header*/

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;

}

.logo{
    display: flex;
    align-items: center;
    color: #fcfcfc;
    font-size: 28px;
    font-weight: bold;
}

.logo i{
   color: #34e7f8;;
   font-size: 32px;
   margin-right: 5px;
}

.navegação{
    display: flex;
    font-weight: 600;
    gap: 3em;
}

.navegação  a{
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.navegação li {
    position: relative;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

.navegação li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #34e7f8;
    left: 0;
    bottom: 0;
    transition: width 0.5s ease;
}

.navegação li:hover::after {
    width: 100%;
}


.header-icons{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-icons i{
    margin-right: 25px;
    font-size: 28px;
    transition: all .5s ease;
}

.header-icons i:hover{
    transform: translateY(-5px);
    color: #34e7f8;
}

#menu{
    font-size: 35px;
    color: #fcfcfc;
    z-index: 1001;
}

/*MAIN*/
main{
    height: 100vh;
    width: 95vw;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.home-img img{
    max-width: 100%;
    width: 25rem;
    height: auto;
    margin-left: 25%;
}

.home-text h1{
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 2px;
}
.home-text h5{
    color: #ffffff99;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
}

.home-text h3{
    font-size: 40px;
    font-weight:600;
    letter-spacing: 2px;
    margin-bottom: 35px;
}
.btn{
    display: inline-block;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid white;
    transition: all .5s ease;
    color: white;
}
.btn:hover{
    background-color: white;
    border: 2px solid white;
    color: #1d2631;
}

.main{
    position: absolute;
    top: 40%;
    left: 3%;
    transform: translateY(-50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.main li img{
    width: 60px;
    height: auto;
    max-width: 100%;
}
.row{
    background-color: #34e7f8;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    justify-content: center;
    transition: all .3s ease;
    cursor: pointer;
    display: inline-flex;
}
.row:hover{
    transform: translateY(-8px);
}

.row2{
    background: #ff758d;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    justify-content: center;
    transition: all .3s ease;
    cursor: pointer;
    display: inline-flex;
}
.row2:hover{
    transform: translateY(-8px);
}

.row3{
    background: #ffd06d;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    justify-content: center;
    transition: all .3s ease;
    cursor: pointer;
    display: inline-flex;
}
.row3:hover{
    transform: translateY(-8px);
}